<section>
    <div class="card col-12">
      <div class="card-body">
        <h4 class="card-title">Mis Proyectos
            <!-- modal agregar proyecto nuevo -->
          <button *ngIf="isLogged" class="btn btn-outline-primary float-end" style="margin-left: 5px;" (click)="open(content)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
          </h4>
        
        
        <div class="card-text" *ngFor="let pro of proyectos">
          
          

          <!-- boton eliminar -->
        <button *ngIf="isLogged" class="btn btn-outline-danger float-end" style="margin-left: 5px;" (click)="borrar(pro.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
          </svg>
      </button>
      
          <!-- boton modificar -->
        <button *ngIf="isLogged" class="btn btn-outline-success float-end" type="submit" (click)="openDetails(contentDetails, pro)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
          <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
        </svg>
        </button>
        <ul>
          <li>
            <a href={{pro.enlace}}>{{pro.nombre}}</a>
            <p>{{pro.descripcion}}</p>
          </li>

      </ul>
        </div>
      </div>
    </div>
  </section>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nuevo Proyecto</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-3">
          
          <label for="nombre">Nombre</label>
          <div class="input-group">
            <input id="nombre"	class="form-control" required [(ngModel)]="model.nombre" name="nombre" #name="ngModel"/>
          </div>
  
          <label for="enlace" class="mt-2">Enlace</label>
          <div class="input-group">
            <input id="enlace"	class="form-control" required [(ngModel)]="model.enlace" name="enlace" #name="ngModel"/>
          </div>

          <label for="descripcion" class="mt-2">Descripción</label>
          <div class="input-group">
            
            <textarea id="descripcion" style="resize: none;" class="form-control" rows="3" required [(ngModel)]="model.descripcion" name="descripcion" #name="ngModel"></textarea>
            
          </div>
  
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-dark" data-dismiss="modal">Grabar</button>
        </div>
      </form>
    </div>
    
  </ng-template>


  <ng-template #contentDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Editar Proyecto</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      
      <form (ngSubmit)="onSubmitEdit()" novalidate>
        <div class="mb-3">
          
          <label for="nombre">Nombre</label>
          <div class="input-group">
            <input id="nombreEdit"	class="form-control" required [(ngModel)]="model2.nombre" name="nombre" #name="ngModel" />
          </div>
  
          <label for="enlace" class="mt-2">Enlace</label>
          <div class="input-group">
            <input id="enlaceEdit"	class="form-control" required [(ngModel)]="model2.enlace" name="enlace" #name="ngModel"  />
          </div>

          <label for="descripcion" class="mt-2">Descripción</label>
          <div class="input-group">
            
            <textarea id="descripcionEdit" class="form-control" style="resize: none;" rows="3" [(ngModel)]="model2.descripcion" name="descripcion" #name="ngModel" ></textarea>
            
          </div>
  
          
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-dark" data-dismiss="modal">Actualizar</button>
        </div>
      </form>
    </div>
    
  </ng-template>
