<!-- Barra Nav principal -->
<header>
    <nav class="p-3 bg-dark bg-gradient rounded-bottom">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link text-white"><h3>Mi Portfolio | Martín Lazo</h3></a></li>
        </ul>
        <div class="text-end">
          <a *ngIf="isLogged"> 
            <button type="button" id="btnLogin" class="btn btn-outline-light me-2" (click)="logOut()" routerLink="/modal" >Logout</button>
          </a>

          
          <a *ngIf="!isLogged">
            <button type="button" id="btnLogin" class="btn btn-outline-light me-2" routerLink="/modal">Login</button>
          </a>
        

        </div>
    </div>
    </nav>
</header>
