<section class="mt-4" id="experiencia">
    <div class="card col-12">
      <div class="card-body">
        <h4 class="card-title">Experiencia laboral
          <!-- modal agregar experiencia nueva -->
          <button *ngIf="isLogged" class="btn btn-outline-primary float-end" style="margin-left: 5px;" (click)="open(content)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
        </h4>
        
        <div class="card mt-5 mb-3"*ngFor="let exp of experiencia">
          <div class="card-body">
            <h5 class="card-title">{{exp.empresa}}</h5>
            <p class="card-text">{{exp.detalle}}</p>
            
          </div>
        </div>

        
        
          </div>
        </div>
        
</section>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Nueva Experiencia</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form (ngSubmit)="onSubmit()" novalidate>
			<div class="mb-3">
				
        <label for="empresa">Empresa</label>
				<div class="input-group">
					<input id="empresa"	class="form-control" required [(ngModel)]="model.empresa" name="empresa" #name="ngModel"/>
				</div>

        <label for="periodo" class="mt-2">Años (Desde - Hasta)</label>
				<div class="input-group">
					<input id="periodo"	class="form-control" required [(ngModel)]="model.periodo" name="periodo" #name="ngModel"/>
				</div>

        <label for="detalle" class="mt-2">Tareas realizadas</label>
				<div class="input-group">
          
					<textarea id="detalle" style="resize: none;" class="form-control" rows="3" required [(ngModel)]="model.detalle" name="detalle" #name="ngModel"></textarea>
          
				</div>
			</div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark" data-dismiss="modal">Grabar</button>
      </div>
		</form>
	</div>
	
</ng-template>


<ng-template #contentDetails let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Editar Experiencia</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
    <!-- <form [formGroup]="form2" class="" name="update" (ngSubmit)="onSubmitEdit($event)"> -->
		<form (ngSubmit)="onSubmitEdit()" novalidate>
			<div class="mb-3">
				
        <label for="empresa">Empresa</label>
				<div class="input-group">
					<input id="empresaEdit"	class="form-control" required [(ngModel)]="model2.empresa" name="empresa" #name="ngModel" />
				</div>

        <label for="periodo" class="mt-2">Años (Desde - Hasta)</label>
				<div class="input-group">
					<input id="periodoEdit"	class="form-control" required [(ngModel)]="model2.periodo" name="periodo" #name="ngModel"  />
				</div>

        <label for="detalle" class="mt-2">Tareas realizadas</label>
				<div class="input-group">
          
					<textarea id="detalleEdit" class="form-control" style="resize: none;" rows="3" [(ngModel)]="model2.detalle" name="detalle" #name="ngModel" ></textarea>
          
				</div>
			</div>
      <div class="modal-footer">
        <button class="btn btn-outline-dark" data-dismiss="modal">Actualizar</button>
      </div>
		</form>
	</div>
	
</ng-template>



