<!-- Modal -->
<div class="container">
  <!-- <div class="abs-center"> -->
     <div class="col-6 mx-auto">
      <h5 class="mt-5 mb-3 text-center">Ingreso</h5>
      <form class="" name="login" >
        <div class="form-floating mb-3">
          <input type="text" name="usuario" class="form-control rounded-3" id="usuario" placeholder="Usuario" required>
          <label for="floatingInput">Usuario</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" name="pass" class="form-control rounded-3" id="pass" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>
        <input type="button" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" value="Ingresar">
      </form>
  <!-- </div> -->
</div>
        
     
  
