<section class="mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron rounded" style="background-image:url(./assets/imagenes/fondo1.png); height:100%">
          <div class="mx-auto position-relative float-start text-center" style="top: 100px; width: 200px; height: 200px;">
            <img src="./assets/imagenes/IMG_20220310_004818178.jpg" class="img-thumbnail rounded-circle" style="width: 140px; height: 150px;">
            <h3><strong>Martín Lazo</strong></h3>
            <h5>Programador Jr</h5>
            <p>Pacheco / Buenos Aires</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section style="margin-top: 170px" id="aboutme">
    <div class="card col-12">
      <div class="card-body">
        <h4 class="card-title">Un poco sobre mí
            <!-- <button *ngIf="isLogged" class="btn btn-outline-success float-end" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg></button> -->
          </h4>
        <p class="card-text">Desde los 11 años estoy ligado al mundo de la informática cuando comencé con el viejo GW-Basic en una PC-XT con monitor de fósforo ambar. Me encanta la tecnología aprendiendo a mejorar nuestras vidas con ella!</p>
        <p class="card-text">Actualmente, en <a href="https://inep.com.ar" class="card-link">INEP Cursos Digitales</a> nos dedicamos a llevar el conocimiento a quien quiera adquirirlo</p>
      </div>
    </div>
  </section>
